[submodule "OpenICF-kerberos-connector"]
	path = OpenICF-kerberos-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-kerberos-connector
[submodule "OpenICF-dbcommon"]
	path = OpenICF-dbcommon
	url = https://github.com/OpenIdentityPlatform/OpenICF-dbcommon
[submodule "OpenICF-ssh-connector"]
	path = OpenICF-ssh-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-ssh-connector
[submodule "OpenDJ"]
	path = OpenDJ
	url = https://github.com/OpenIdentityPlatform/OpenDJ
