[submodule "OpenICF-java-framework"]
	path = OpenICF-java-framework
	url = https://github.com/OpenIdentityPlatform/OpenICF-java-framework
[submodule "OpenICF-maven-plugin"]
	path = OpenICF-maven-plugin
	url = https://github.com/OpenIdentityPlatform/OpenICF-maven-plugin.git
[submodule "OpenICF-csvfile-connector"]
	path = OpenICF-csvfile-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-csvfile-connector
[submodule "OpenICF-databasetable-connector"]
	path = OpenICF-databasetable-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-databasetable-connector
[submodule "OpenICF-xml-connector"]
	path = OpenICF-xml-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-xml-connector
[submodule "OpenICF-ldap-connector"]
	path = OpenICF-ldap-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-ldap-connector
[submodule "OpenICF-groovy-connector"]
	path = OpenICF-groovy-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-groovy-connector
[submodule "OpenICF-kerberos-connector"]
	path = OpenICF-kerberos-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-kerberos-connector
[submodule "OpenICF-dbcommon"]
	path = OpenICF-dbcommon
	url = https://github.com/OpenIdentityPlatform/OpenICF-dbcommon
[submodule "OpenICF-ssh-connector"]
	path = OpenICF-ssh-connector
	url = https://github.com/OpenIdentityPlatform/OpenICF-ssh-connector
