# -- START LICENSE
# ====================
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
# 
# Copyright 2008-2009 Sun Microsystems, Inc. All rights reserved.     
# 
# The contents of this file are subject to the terms of the Common Development 
# and Distribution License("CDDL") (the "License").  You may not use this file 
# except in compliance with the License.
# 
# You can obtain a copy of the License at 
# http://IdentityConnectors.dev.java.net/legal/license.txt
# See the License for the specific language governing permissions and limitations 
# under the License. 
# 
# When distributing the Covered Code, include this CDDL Header Notice in each file
# and include the License file at identityconnectors/legal/license.txt.
# If applicable, add the following below this CDDL Header, with the fields 
# enclosed by brackets [] replaced by your own identifying information: 
# "Portions Copyrighted [year] [name of copyright owner]"
# ====================
# Portions Copyrighted 2026 3A Systems, LLC
# -- END LICENSE
#
# The suffix entry itself is not generated here: data.ldif already defines
# dc=example,dc=com, and both files are imported into the same backend.
#
# Branches must spell out their objectClasses. The Sun-era MakeLDIF derived them
# from the RDN attribute; the OpenDJ one does not, and leaves the entry without a
# structural objectClass, which the server then rejects on import.
define suffix=dc=example,dc=com
define maildomain=example.com
define numusers=2000

branch: o=Big Company,[suffix]
objectClass: top
objectClass: organization

branch: ou=People,o=Big Company,[suffix]
objectClass: top
objectClass: organizationalUnit
subordinateTemplate: person:[numusers]

template: person
rdnAttr: uid
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
givenName: <first>
sn: <last>
cn: {givenName} {sn}
initials: {givenName:1}<random:chars:ABCDEFGHIJKLMNOPQRSTUVWXYZ:1>{sn:1}
employeeNumber: <sequential:0>
uid: user.{employeeNumber}
mail: {uid}@[maildomain]
userPassword: password
telephoneNumber: <random:telephone>
homePhone: <random:telephone>
pager: <random:telephone>
mobile: <random:telephone>
street: <random:numeric:5> <file:streets> Street
l: <file:cities>
st: <file:states>
postalCode: <random:numeric:5>
postalAddress: {cn}${street}${l}, {st}  {postalCode}
description: This is the description for {cn}.

