<!--
  ! CCPL HEADER START
  !
  ! This work is licensed under the Creative Commons
  ! Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ! To view a copy of this license, visit
  ! http://creativecommons.org/licenses/by-nc-nd/3.0/
  ! or send a letter to Creative Commons, 444 Castro Street,
  ! Suite 900, Mountain View, California, 94041, USA.
  !
  ! See the License for the specific language governing permissions
  ! and limitations under the License.
  !
  ! If applicable, add the following below this CCPL HEADER, with the fields
  ! enclosed by brackets "[]" replaced with your own identifying information:
  !      Portions Copyright [yyyy] [name of copyright owner]
  !
  ! CCPL HEADER END
  !
  !      Copyright 2012-2014 ForgeRock AS
  !
-->


#macro ( trueorfalse $condition )
    #if($condition)
    <img src="$relativePath/shared/images/yes-icon.png" alt="True">
    #else
    <img src="$relativePath/shared/images/no-icon.png" alt="False">
    #end
#end
##

#macro ( connectorKey $connectorKey )
<b>Configuration:</b><br/>
<pre>
    "connectorRef" : {
        "bundleName"    : "$connectorKey.getBundleName()",
        "bundleVersion" : "$connectorKey.getBundleVersion()",
        "connectorName" : "$connectorKey.getConnectorName()"
    }
    </pre>
#end
##
#macro ( supportedOperations $operations )
    #if($operations && $operations.size() > 0)
    <ul>
        #foreach($action in $operations)
            #if ("AuthenticationApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/AuthenticationApiOp.html">Authenticate</a>
                </li>
            #elseif ("CreateApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/CreateApiOp.html">Create</a>
                </li>
            #elseif ("DeleteApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/DeleteApiOp.html">Delete</a>
                </li>
            #elseif ("GetApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/GetApiOp.html">Get</a>
                </li>
            #elseif ("ResolveUsernameApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/ResolveUsernameApiOp.html">Resolve
                        Username</a>
                </li>
            #elseif ("SchemaApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/SchemaApiOp.html">Schema</a>
                </li>
            #elseif ("ScriptOnConnectorApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/ScriptOnConnectorApiOp.html">Script
                        On Connector</a>
                </li>
            #elseif ("ScriptOnResourceApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/ScriptOnResourceApiOp.html">Script
                        On Resource</a>
                </li>
            #elseif ("SearchApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/SearchApiOp.html">Search</a>
                </li>
            #elseif ("SyncApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/SyncApiOp.html">Sync</a>
                </li>
            #elseif ("TestApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/TestApiOp.html">Test</a>
                </li>
            #elseif ("UpdateApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/UpdateApiOp.html">Update
                        Attribute Values</a>
                </li>
            #elseif ("ValidateApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/ValidateApiOp.html">Update</a>
                </li>
            #else
                <li>
                    Custom Operation: $action
                </li>
            #end
        #end
    </ul>
    #end
#end
##
#macro ( configurationProperties $configurationProperties )
<table border="0" class="bodyTable">
    <tbody>
        #set( $calss = "a" )
    <tr class="$calss">
        <th width="20%">Property</th>
        <th width="10%">Type</th>
        <th width="10%">Default Value</th>
        <th width="10%">
            <img src="shared/images/encrypted.png">
            <sup>[<a name="confidential" href="#ftn.confidential" class="footnote">a</a>]</sup>
        </th>
        <th>Required for these Operations</th>
    </tr>
        #foreach($configurationProperty in $configurationProperties)
            #if ($calss == "a")
                #set( $calss = "b" )
            #else
                #set( $calss = "a" )
            #end

        <tr class="$calss">
            <td title="$$configurationProperty.property.getDisplayName('N/A')">
                $configurationProperty.name
            </td>
            <td>
                $configurationProperty.type
            </td>
            <td>
                <pre>$ConnectorUtils.defaultValue($configurationProperty.property)</pre>
            </td>
            <td>
                #if ($configurationProperty.confidential)
                    <img src="$relativePath/shared/images/encrypted.png"
                         alt="Confidential Property!">
                #end
            </td>
            <td>#trueorfalse($configurationProperty.required)</td>
        </tr>
        <tr class="$calss">
            <td colspan="5">$configurationProperty.description</td>
        </tr>
        #end
    </tbody>
</table>
#end
##

<div id="section">
<h1>${connectorDisplayName}</h1>

    #if ($connectorInfo)
    <h2>Installation</h2>

    <p>Notes on installing the connector</p>
        #connectorKey( $connectorInfo.getConnectorKey() )
    #end

<p>The ${connectorDisplayName} implements the following OpenICF interfaces.</p>

    #supportedOperations($connectorInterfaces)

    #if($maki)
    <ul>
        #foreach($action in $connectorInterfaces)

            #if ("AuthenticationApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/AuthenticateOp.html">AuthenticateOp</a>:
                    Authenticate based on a unique identifier and password.
                </li>
            #elseif ("CreateApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/CreateOp.html">CreateOp</a>:
                    Create an object and its <code>uid</code>.
                </li>
            #elseif ("DeleteApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/DeleteOp.html">DeleteOp</a>:
                    Delete an object by <code>uid</code>.
                </li>
            #elseif ("ResolveUsernameApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/ResolveUsernameOp.html">ResolveUsernameOp</a>:
                    Resolve an object to its <code>uid</code> based on its <code>username</code>.
                </li>
            #elseif ("SchemaApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/SchemaOp.html">SchemaOp</a>:
                    Describe supported object types, operations, and options.
                </li>
            #elseif ("ScriptOnConnectorApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/ScriptOnConnectorOp.html">ScriptOnConnectorOp</a>:
                    Run a script in the environment of the connector.
                </li>
            #elseif ("ScriptOnResourceApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/ScriptOnResourceOp.html">ScriptOnResourceOp</a>:
                    Run a script directly on a target resource.
                </li>
            #elseif ("SearchApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/SearchOp.html">SearchOp</a>:
                    Allow searches for resource objects.
                </li>
            #elseif ("SyncApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/SyncOp.html">SyncOp</a>:
                    Poll for synchronization events, which are native changes to target objects.
                </li>
            #elseif ("TestApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/TestOp.html">TestOp</a>:
                    Test the connection configuration, including connecting to the resource.
                </li>
            #elseif ("UpdateAttributeValuesOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/UpdateAttributeValuesOp.html">UpdateAttributeValuesOp</a>:
                    Like <code>UpdateOp</code>, but with better performance and atomicity.
                </li>
            #elseif ("UpdateApiOp" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/UpdateOp.html">UpdateOp</a>:
                    Allow an authorized caller to update target resource objects.
                </li>
            #elseif ("AttributeNormalizer" == $action)
                <li>
                    <a class="externalLink"
                       href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/AttributeNormalizer.html">AttributeNormalizer</a>:
                    Normalize attributes to ensure consistent filtering.
                </li>
            #elseif ("PoolableConnector" == $action)
            #elseif ("Connector" == $action)
            #else
                <li>
                    Custom Interface: $action
                </li>
            #end

        #end

        #if ($APIConfiguration.isConnectorPoolingSupported())
            <li>
                <a class="externalLink"
                   href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/PoolableConnector.html">PoolableConnector</a>:
                Use pools of target resources.
            </li>
        #end

    </ul>
    #end

<h2>Configuration Properties</h2>

<p>The Connector has the following configuration properties.</p>

    #foreach($configurationGroup in $configurationProperties.entrySet())
    <h3>$configurationGroup.key Properties</h3>
        #configurationProperties( $configurationGroup.value )
    #end

<div class="footnote">
    <p>
        <sup>[<a id="ftn.confidential" href="#ftn.confidential" class="para">a</a>]</sup>
        Indicates whether the property value is considered confidential, and
        therefore encrypted in OpenIDM.
    </p>
</div>

    #if ($schema)

    <h2>Connector Schema</h2>

    <p>The Connector schema may depends on the underlying target resource.</p>


    <p>
        The following table lists the options that can be configured for each of the
        supported operations listed in the previous table.
    </p>


    <h3>Operation Options</h3>
    <table border="0" class="bodyTable">
        <tbody>
        <tr class="b">
            <th width="20%">Operation</th>
            <th width="80%">Supported Options</th>
        </tr>

            #foreach($operationOptionInfo in $operationOptions.entrySet())

            <tr class="b">
                <td>$operationOptionInfo.key</td>
                <td>
                    <table border="0" class="bodyTable">
                        <tbody>
                        <tr class="a">
                            <th width="20%">Name</th>
                            <th width="20%">Type</th>
                            <th width="60%">Description</th>
                        </tr>
                            #set( $calss = "a" )
                            #foreach($option in $operationOptionInfo.value)
                                #if ($calss == "a")
                                    #set( $calss = "b" )
                                #else
                                    #set( $calss = "a" )
                                #end

                            <tr class="$calss">
                                <td>$option.name</td>
                                <td>$option.type</td>
                                <td>
                                    #if($option.name.equals("SCOPE"))
                                        <p>$option.description</p>
                                    #elseif($option.name.equals("CONTAINER"))
                                        <p>$option.description</p>
                                    #elseif($option.name.equals("RUN_AS_USER"))
                                        <p>TODO FIXME Link to appendix with detailed description</p>
                                    #elseif($option.name.equals("RUN_WITH_PASSWORD"))
                                        <p>TODO FIXME Link to appendix with detailed description</p>
                                    #elseif($option.name.equals("ATTRS_TO_GET"))
                                        <p>$option.description</p>
                                    #elseif($option.name.equals("PAGED_RESULTS_COOKIE"))
                                        <p>$option.description</p>
                                    #elseif($option.name.equals("PAGED_RESULTS_OFFSET"))
                                        <p>$option.description</p>
                                    #elseif($option.name.equals("PAGE_SIZE"))
                                        <p>$option.description</p>
                                    #elseif($option.name.equals("SORT_KEYS"))
                                        <p>$option.description</p>
                                    #else
                                        <p>$option.description</p>
                                    #end
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </td>
            </tr>
            #end
        </tbody>
    </table>


    <p>The connector supports these objectclasses:</p>

    <ul>
        #foreach($objectClassInfo in $objectClasses)
            <li>
                <a href="#$objectClassInfo.name">
                    <b>$objectClassInfo.displayName</b>
                </a>($objectClassInfo.name)
            </li>
        #end
    </ul>

        #foreach($objectClassInfo in $objectClasses)

        <h3><a name="$objectClassInfo.name"/>$objectClassInfo.displayName</h3>

        <h4>Operations Supported for the $objectClassInfo.displayName Objectclass</h4>
            #if($objectClassInfo.operations && $objectClassInfo.operations.size() > 0)
                #supportedOperations($objectClassInfo.operations)
            #else
            <p>All operations are supported</p>
            #end

        <h4>Attributes Supported for the $objectClassInfo.displayName Objectclass</h4>

        <p>The following tables list all explicitly supported attributes in the schema, according to
            objectclass (type of object to manage).</p>


        <table border="0" class="bodyTable">
            <tbody>
            <tr class="$calss">
                <th width="25%">Attribute</th>
                <th width="10%">Type</th>
                <th width="10%">Required</th>
                <th width="10%">Multivalued</th>
                <th width="10%">Creatable</th>
                <th width="10%">Modifiable</th>
                <th width="10%">Readable</th>
                <th width="15%">Return by default</th>
            </tr>
                #set( $calss = "a" )
                #foreach($attributeInfo in $objectClassInfo.attributes)
                    #if ($calss == "a")
                        #set( $calss = "b" )
                    #else
                        #set( $calss = "a" )
                    #end

                <tr class="$calss">
                    <td>$attributeInfo.getName()</td>
                    <td>$attributeInfo.getType().getSimpleName()</td>
                    <td>#trueorfalse($attributeInfo.isRequired())</td>
                    <td>#trueorfalse($attributeInfo.isMultiValued())</td>
                    <td>#trueorfalse($attributeInfo.isCreateable())</td>
                    <td>#trueorfalse($attributeInfo.isUpdateable())</td>
                    <td>#trueorfalse($attributeInfo.isReadable())</td>
                    <td>#trueorfalse($attributeInfo.isReturnedByDefault())</td>
                </tr>
                #end
            </tbody>
        </table>
        #end
    #end
</div>
