<?xml version="1.0" encoding="UTF-8"?>
<!--
  ! CCPL HEADER START
  !
  ! This work is licensed under the Creative Commons
  ! Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ! To view a copy of this license, visit
  ! http://creativecommons.org/licenses/by-nc-nd/3.0/
  ! or send a letter to Creative Commons, 444 Castro Street,
  ! Suite 900, Mountain View, California, 94041, USA.
  !
  ! You can also obtain a copy of the license at
  ! legal-notices/CC-BY-NC-ND.txt.
  ! See the License for the specific language governing permissions
  ! and limitations under the License.
  !
  ! If applicable, add the following below this CCPL HEADER, with the fields
  ! enclosed by brackets "[]" replaced with your own identifying information:
  !      Portions Copyright [yyyy] [name of copyright owner]
  !
  ! CCPL HEADER END
  !
  !      Copyright 2012 ForgeRock AS
  !
-->
#macro ( trueorfalse $condition )
    #if($condition)
"http://openicf.forgerock.org/images/icon_success_sml.png"
    #else
"http://openicf.forgerock.org/images/icon_error_sml.png"
    #end
#end
<section xml:id="schema-$connectorInfo.getConnectorKey().getConnectorName()"
         xmlns='http://docbook.org/ns/docbook' version='5.0' xml:lang='en'
         xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:schemaLocation='http://docbook.org/ns/docbook http://docbook.org/xml/5.0/xsd/docbook.xsd'
         xmlns:xlink='http://www.w3.org/1999/xlink'
         xmlns:xinclude='http://www.w3.org/2001/XInclude'>
    <title>${connectorDisplayName} Schema</title>

    <para>Connector schema can depend on the underlying resource.</para>

    <itemizedlist>
        <para>The ${connectorDisplayName} supports the following object classes:</para>
        #foreach($objectClassInfo in $schema.getObjectClassInfo())

        #set($operations = $supportedOperations.get($objectClassInfo))

        <listitem>
            <para>
                <emphasis role="bold">
                    #if ("__ACCOUNT__" == $objectClassInfo.getType())
                        $ConnectorUtils.getDisplayName($connectorInfo,$objectClassInfo,'Account')
                    #elseif ("__GROUP__" == $objectClassInfo.getType())
                        $ConnectorUtils.getDisplayName($connectorInfo,$objectClassInfo,'Group')
                    #else
                        $ConnectorUtils.getDisplayName($connectorInfo,$objectClassInfo,$objectClassInfo.getType())
                    #end
                </emphasis>(<literal>$objectClassInfo.getType()</literal>)
            </para>

            #if($operations && $operations.size() > 0)
            <itemizedlist>
                <title>Supported Operations</title>

                #foreach($operation in $operations)
                    #set($action = $operation.getSimpleName())
                #if ("AuthenticationApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/AuthenticationApiOp.html"
                            xlink:show="new">Authenticate</link></para>
                </listitem>
                #elseif ("CreateApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/CreateApiOp.html"
                            xlink:show="new">Create</link></para>
                </listitem>
                #elseif ("DeleteApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/DeleteApiOp.html"
                            xlink:show="new">Delete</link></para>
                </listitem>
                #elseif ("GetApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/GetApiOp.html"
                            xlink:show="new">Get</link></para>
                </listitem>
                #elseif ("ResolveUsernameApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/ResolveUsernameApiOp.html"
                            xlink:show="new">Resolve Username</link></para>
                </listitem>
                #elseif ("SchemaApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/SchemaApiOp.html"
                            xlink:show="new">Schema</link></para>
                </listitem>
                #elseif ("ScriptOnConnectorApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/ScriptOnConnectorApiOp.html"
                            xlink:show="new">Script On Connector</link></para>
                </listitem>
                #elseif ("ScriptOnResourceApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/ScriptOnResourceApiOp.html"
                            xlink:show="new">Script On Resource</link></para>
                </listitem>
                #elseif ("SearchApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/SearchApiOp.html"
                            xlink:show="new">Search</link></para>
                </listitem>
                #elseif ("SyncApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/SyncApiOp.html"
                            xlink:show="new">Sync</link></para>
                </listitem>
                #elseif ("TestApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/TestApiOp.html"
                            xlink:show="new">Test</link></para>
                </listitem>
                #elseif ("UpdateApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/UpdateApiOp.html"
                            xlink:show="new">Update Attribute Values</link></para>
                </listitem>
                #elseif ("ValidateApiOp" == $action)
                <listitem>
                    <para><link
                            xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/api/operations/ValidateApiOp.html"
                            xlink:show="new">Update</link></para>
                </listitem>
                #else
                <listitem>
                    <para>Custom Operation: $action</para>
                </listitem>
                #end
                #end
            </itemizedlist>
            #else
                <p>All operations are supported</p>
            #end

                #if($objectClassInfo.isContainer())
                <!-- TODO -->
                #end

            <table pgwide="1" rules="none">
                <title>Supported Attributes</title>
                <tgroup cols="8">
                    <thead>
                    <row>
                        <entry>Attribute</entry>
                        <entry>Java Type</entry>
                        <entry>Required</entry>
                        <entry>Multivalued</entry>
                        <entry>Creatable</entry>
                        <entry>Modifiable</entry>
                        <entry>Readable</entry>
                        <entry>Returned By Default</entry>
                    </row>
                    </thead>
                    <tbody>
                    #foreach($attributeInfo in $objectClassInfo.getAttributeInfo())
                    <row>
                        <entry>$attributeInfo.getName()</entry>
                        <entry>$attributeInfo.getType().getSimpleName()</entry>
                        <!-- The image fileref must be adjusted in the generated doc. -->
                        <entry><inlinemediaobject><imageobject><imagedata fileref=#trueorfalse($attributeInfo.isRequired()) format="PNG" /></imageobject></inlinemediaobject></entry>
                        <entry><inlinemediaobject><imageobject><imagedata fileref=#trueorfalse($attributeInfo.isMultiValued()) format="PNG" /></imageobject></inlinemediaobject></entry>
                        <entry><inlinemediaobject><imageobject><imagedata fileref=#trueorfalse($attributeInfo.isCreateable()) format="PNG" /></imageobject></inlinemediaobject></entry>
                        <entry><inlinemediaobject><imageobject><imagedata fileref=#trueorfalse($attributeInfo.isUpdateable()) format="PNG" /></imageobject></inlinemediaobject></entry>
                        <entry><inlinemediaobject><imageobject><imagedata fileref=#trueorfalse($attributeInfo.isReadable()) format="PNG" /></imageobject></inlinemediaobject></entry>
                        <entry><inlinemediaobject><imageobject><imagedata fileref=#trueorfalse($attributeInfo.isReturnedByDefault()) format="PNG" /></imageobject></inlinemediaobject></entry>
                    </row>
                    #end
                    </tbody>
                </tgroup>
            </table>
        </listitem>
    #end
    </itemizedlist>
</section>
