<?xml version="1.0" encoding="UTF-8"?>
<!--
  ! CCPL HEADER START
  !
  ! This work is licensed under the Creative Commons
  ! Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ! To view a copy of this license, visit
  ! http://creativecommons.org/licenses/by-nc-nd/3.0/
  ! or send a letter to Creative Commons, 444 Castro Street,
  ! Suite 900, Mountain View, California, 94041, USA.
  !
  ! You can also obtain a copy of the license at
  ! trunk/opendj3/legal-notices/CC-BY-NC-ND.txt.
  ! See the License for the specific language governing permissions
  ! and limitations under the License.
  !
  ! If applicable, add the following below this CCPL HEADER, with the fields
  ! enclosed by brackets "[]" replaced with your own identifying information:
  !      Portions Copyright [yyyy] [name of copyright owner]
  !
  ! CCPL HEADER END
  !
  !      Copyright 2012 ForgeRock AS
  !
-->
#macro ( configurationProperties $configurationProperties $tableTitle)
<table pgwide="1" rules="none">
    <title>$tableTitle</title>
    <tgroup cols="4">
        <thead>
        <row>
            <entry>Property</entry>
            <entry>Java Type</entry>
            <entry>Default Value</entry>
            <entry>Description</entry>
        </row>
        </thead>
        <tbody>
            #foreach($configurationProperty in $configurationProperties)
            <row>
                <entry>#if ($configurationProperty.isConfidential())<!-- The image file ref must be adjusted in the generated doc. -->
                    <inlinemediaobject><imageobject><imagedata fileref="http://openicf.forgerock.org/images/icon_warning_sml.png" format="PNG"/></imageobject> </inlinemediaobject>#end$configurationProperty.getName()</entry>
                <entry>$configurationProperty.getType().getSimpleName()</entry>
                <entry>
                    <literal>$ConnectorUtils.defaultValue($configurationProperty)</literal>
                </entry>
                <entry>$configurationProperty.getHelpMessage('N/A')</entry>
            </row>
            #end
        </tbody>
    </tgroup>
</table>
#end
<section xml:id="configure-$connectorInfo.getConnectorKey().getConnectorName()"
         xmlns='http://docbook.org/ns/docbook' version='5.0' xml:lang='en'
         xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:schemaLocation='http://docbook.org/ns/docbook http://docbook.org/xml/5.0/xsd/docbook.xsd'
         xmlns:xlink='http://www.w3.org/1999/xlink'
         xmlns:xinclude='http://www.w3.org/2001/XInclude'>
    <title>Configuring the ${connectorDisplayName}</title>

    <para>The connector reference is as follows.</para>

    <programlisting language="javascript">
"connectorRef" : {
    "bundleName"    : "$connectorInfo.getConnectorKey().getBundleName()",
    "bundleVersion" : "$connectorInfo.getConnectorKey().getBundleVersion()",
    "connectorName" : "$connectorInfo.getConnectorKey().getConnectorName()"
}
    </programlisting>

    #if ($APIConfiguration.isConnectorPoolingSupported())
        <!-- TODO -->
    #end

    <variablelist>
        <para>The ${connectorDisplayName} implements the following OpenICF interfaces.</para>
        #foreach($action in $connectorInterfaces)
            #if ("AuthenticateOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/AuthenticateOp.html"
                                xlink:show="new">AuthenticateOp</link></term>
                    <listitem>
                        <para>Authenticate based on a unique identifier and password.</para>
                    </listitem>
                </varlistentry>
            #elseif ("CreateOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/CreateOp.html"
                                xlink:show="new">CreateOp</link></term>
                    <listitem>
                        <para>Create an object and its <literal>uid</literal>.</para>
                    </listitem>
                </varlistentry>
            #elseif ("DeleteOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/DeleteOp.html"
                                xlink:show="new">DeleteOp</link></term>
                    <listitem>
                        <para>Delete an object by <literal>uid</literal>.</para>
                    </listitem>
                </varlistentry>
            #elseif ("ResolveUsernameOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/ResolveUsernameOp.html"
                                xlink:show="new">ResolveUsernameOp</link></term>
                    <listitem>
                        <para>Resolve an object to its <literal>uid</literal> based on its <literal>username</literal>.</para>
                    </listitem>
                </varlistentry>
            #elseif ("SchemaOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/SchemaOp.html"
                                xlink:show="new">SchemaOp</link></term>
                    <listitem>
                        <para>Describe supported object types, operations, and options.</para>
                    </listitem>
                </varlistentry>
            #elseif ("ScriptOnConnectorOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/ScriptOnConnectorOp.html"
                                xlink:show="new">ScriptOnConnectorOp</link></term>
                    <listitem>
                        <para>Allow script execution on connector.</para>
                    </listitem>
                </varlistentry>
            #elseif ("ScriptOnResourceOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/ScriptOnResourceOp.html"
                                xlink:show="new">ScriptOnResourceOp</link></term>
                    <listitem>
                        <para>Allow script execution on resource.</para>
                    </listitem>
                </varlistentry>
            #elseif ("SearchOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/SearchOp.html"
                                xlink:show="new">SearchOp</link></term>
                    <listitem>
                        <para>Allow searches for resource objects.</para>
                    </listitem>
                </varlistentry>
            #elseif ("SyncOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/SyncOp.html"
                                xlink:show="new">SyncOp</link></term>
                    <listitem>
                        <para>Poll for synchronization events, which are native changes to target objects.</para>
                    </listitem>
                </varlistentry>
            #elseif ("TestOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/TestOp.html"
                                xlink:show="new">TestOp</link></term>
                    <listitem>
                        <para>Test the connection configuration, including connecting to the resource.</para>
                    </listitem>
                </varlistentry>
            #elseif ("UpdateAttributeValuesOp" == $action)
            #elseif ("UpdateOp" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/operations/UpdateAttributeValuesOp.html"
                                xlink:show="new">UpdateAttributeValuesOp</link></term>
                    <listitem>
                        <para>Like <literal>UpdateOp</literal>, but with better performance and atomicity.</para>
                    </listitem>
                </varlistentry>
            #elseif ("AttributeNormalizer" == $action)
            #elseif ("PoolableConnector" == $action)
                <varlistentry>
                    <term><link xlink:href="http://openicf.forgerock.org/connector-framework/apidocs/org/identityconnectors/framework/spi/PoolableConnector.html"
                                xlink:show="new">PoolableConnector</link></term>
                    <listitem>
                        <para>Use pools of target resources.</para>
                    </listitem>
                </varlistentry>
            #elseif ("Connector" == $action)
            #else
        #end
    #end
    </variablelist>

    <section xml:id="configuration-properties-${connectorName}">
        <title>Configuration Properties</title>

        <para>The ${connectorDisplayName} has the following configuration properties.</para>

        #if ($requiredConfigurationProperties && $requiredConfigurationProperties.size() > 0)
            #configurationProperties( $requiredConfigurationProperties, "Required Properties" )
        #end

        #if ($requiredOperationProperties.size() > 0)
            #foreach($operationEntry in $requiredOperationProperties.entrySet())
                <!-- Check syntax -->
                #configurationProperties( $operationEntry.getValue(), $operationEntry.getKey()  "Required Properties" )
            #end
        #end

        #if ($optionalConfigurationProperties && $optionalConfigurationProperties.size() > 0)
            #configurationProperties( $optionalConfigurationProperties, "Optional Properties" )
        #end

    </section>
</section>
