<?xml version="1.0" encoding="UTF-8"?>
<!--
  ! CCPL HEADER START
  !
  ! This work is licensed under the Creative Commons
  ! Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ! To view a copy of this license, visit
  ! http://creativecommons.org/licenses/by-nc-nd/3.0/
  ! or send a letter to Creative Commons, 444 Castro Street,
  ! Suite 900, Mountain View, California, 94041, USA.
  !
  ! You can also obtain a copy of the license at
  ! legal/CC-BY-NC-ND.txt.
  ! See the License for the specific language governing permissions
  ! and limitations under the License.
  !
  ! If applicable, add the following below this CCPL HEADER, with the fields
  ! enclosed by brackets "[]" replaced with your own identifying information:
  !      Portions Copyright [yyyy] [name of copyright owner]
  !
  ! CCPL HEADER END
  !
  !      Copyright 2013-2014 ForgeRock AS
  !
-->
<section xml:id='sec-schema-${uniqueConnectorName}'
         xmlns='http://docbook.org/ns/docbook'
         version='5.0' xml:lang='en'
         xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:schemaLocation='http://docbook.org/ns/docbook
 http://docbook.org/xml/5.0/xsd/docbook.xsd'
         xmlns:xlink='http://www.w3.org/1999/xlink'>

  <title>${connectorDisplayName} Schema</title>
  <para>
   The connector schema determines the object classes, operations and attributes
   that are supported by the connector. The ${connectorDisplayName} supports the
   object classes:
  </para>

  <table>
   <title>Supported Object Classes</title>
   <tgroup cols="2">
    <?dbhtml cellspacing="0" ?>
    <?dbhtml cellpadding="2" ?>
    <thead>
     <row>
      <entry>Object Class</entry>
      <entry>Supported Operations</entry>
     </row>
    </thead>
    <tbody>
     #foreach($objectclass in $objectClasses)
     <row>
      <entry>
       <para>$objectclass.displayName (${objectclass.name})</para>
      </entry>
      <entry>
       #if($objectclass.operations)
       <simplelist>
        <!--This list is built with one member entry for each supported operation
        built from connectorInterfaces-->
        #foreach($operation in $objectclass.operations)
        <member>
            <para><link linkend="sec-implemented-interfaces-${uniqueConnectorName}">${operation.value}</link></para>
        </member>
        #end
       </simplelist>
       #else
        <para>All <link linkend="sec-implemented-interfaces-${uniqueConnectorName}">connector operations</link> are supported.</para>
       #end
      </entry>
     </row>
     #end
    </tbody>
   </tgroup>
  </table>

    #if($operationOptions.isEmpty())
        <para>
            The connector may not support any operation option.
        </para>
    #else
  <para>
   The following table lists the options that can be configured for each of the
   supported operations listed in the previous table.
  </para>
    <table xml:id="operation-options-${uniqueConnectorName}">
        <title>Operation Options</title>
        <tgroup cols="4">
            <colspec colname="c1" colwidth="1*"/>
            <colspec colname="c2" colwidth="1*"/>
            <colspec colname="c3" colwidth="1*"/>
            <colspec colname="c4" colwidth="3*"/>
            <thead>
                <row>
                    <entry>Operation</entry>
                    <entry namest="c2" nameend="c4" align="center">Supported Options</entry>
                </row>
                <row>
                    <entry> <!-- Intentionally left blank --></entry>
                    <entry align="center">Name</entry>
                    <entry align="center">Type</entry>
                    <entry align="center">Description</entry>
                </row>
            </thead>
            <tbody>
                #foreach($operationOptionInfo in $operationOptions.entrySet())
                    <row>
                        <entry>
                            <para xml:id="operation-${operationOptionInfo.key.key}-${uniqueConnectorName}"
                                  xreflabel="${operationOptionInfo.key.value}">${operationOptionInfo.key.value}</para>
                        </entry>
                        <entrytbl namest="c2" nameend="c4" cols="3">
                            <colspec colname="c1" colwidth="1*"/>
                            <colspec colname="c2" colwidth="1*"/>
                            <colspec colname="c3" colwidth="3*"/>
                            <tbody>
                                #foreach($option in $operationOptionInfo.value)
                                    <row>
                                        <entry>$option.name</entry>
                                        <entry>$option.type</entry>
                                        <entry>
                                            #if($option.description)
                                                $option.description
                                            #end
                                            #if($option.name.equals("SCOPE"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-scope"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #elseif($option.name.equals("CONTAINER"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-container"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #elseif($option.name.equals("RUN_AS_USER"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-run-as-user"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #elseif($option.name.equals("RUN_WITH_PASSWORD"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-run-with-password"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #elseif($option.name.equals("ATTRS_TO_GET"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-attributes-to-get"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #elseif($option.name.equals("PAGED_RESULTS_COOKIE"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-paged-results-cookie"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #elseif($option.name.equals("PAGED_RESULTS_OFFSET"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-results-offset"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #elseif($option.name.equals("PAGE_SIZE"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-page-size"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #elseif($option.name.equals("SORT_KEYS"))
                                                <link xlink:show="new"
                                                      xlink:href="CURRENT.DOCID#operation-option-sort-keys"
                                                      xlink:role="http://docbook.org/xlink/role/olink">More information
                                                    see here.
                                                </link>
                                            #end
                                        </entry>
                                    </row>
                                #end
                            </tbody>
                        </entrytbl>
                    </row>
                #end
            </tbody>
        </tgroup>
    </table>
    #end
  #foreach($objectClass in $objectClasses)
  <para>
   The ${objectClass.displayName} (${objectClass.name}) supports the following attributes.
  </para>
  <table xml:id="supported-attributes-${objectClass.name}-${uniqueConnectorName}">
   <title>Supported Attributes</title>
   <tgroup cols="8">
    <colspec colnum="1" colwidth="2*"/>
    <colspec colnum="2" colwidth="1*"/>
    <colspec colnum="3" colwidth="1*"/>
    <colspec colnum="4" colwidth="1*"/>
    <colspec colnum="5" colwidth="1*"/>
    <colspec colnum="6" colwidth="1*"/>
    <colspec colnum="7" colwidth="1*"/>
    <colspec colnum="8" colwidth="1*"/>
    <thead>
     <row>
      <entry>Attribute</entry>
      <entry>Type</entry>
      <entry>Required</entry>
      <entry>Multivalued</entry>
      <entry>Creatable</entry>
      <entry>Modifiable</entry>
      <entry>Readable</entry>
      <entry>Returned by Default</entry>
     </row>
    </thead>
    <tbody>
        #foreach($attribute in $objectClass.attributes)
            <row valign="top">
                <entry>
                    <para>
                        <literal>$attribute.getName()</literal>
                    </para>
                </entry>
                <entry>
                    <para>
                        <literal>$attribute.getType().getSimpleName()</literal>
                    </para>
                </entry>
                <entry>
                    <mediaobject>
                        <imageobject>
                            <imagedata
                                    fileref="shared/images/#if($attribute.isRequired())yes#{else}no#end-icon.png"
                                    format="PNG"/>
                        </imageobject>
                    </mediaobject>
                </entry>
                <entry>
                    <mediaobject>
                        <imageobject>
                            <imagedata
                                    fileref="shared/images/#if($attribute.isMultiValued())yes#{else}no#end-icon.png"
                                    format="PNG"/>
                        </imageobject>
                    </mediaobject>
                </entry>
                <entry>
                    <mediaobject>
                        <imageobject>
                            <imagedata
                                    fileref="shared/images/#if($attribute.isCreateable())yes#{else}no#end-icon.png"
                                    format="PNG"/>
                        </imageobject>
                    </mediaobject>
                </entry>
                <entry>
                    <mediaobject>
                        <imageobject>
                            <imagedata
                                    fileref="shared/images/#if($attribute.isUpdateable())yes#{else}no#end-icon.png"
                                    format="PNG"/>
                        </imageobject>
                    </mediaobject>
                </entry>
                <entry>
                    <mediaobject>
                        <imageobject>
                            <imagedata
                                    fileref="shared/images/#if($attribute.isReadable())yes#{else}no#end-icon.png"
                                    format="PNG"/>
                        </imageobject>
                    </mediaobject>
                </entry>
                <entry>
                    <mediaobject>
                        <imageobject>
                            <imagedata
                                    fileref="shared/images/#if($attribute.isReturnedByDefault())yes#{else}no#end-icon.png"
                                    format="PNG"/>
                        </imageobject>
                    </mediaobject>
                </entry>
            </row>
        #end
    </tbody>
   </tgroup>
  </table>
    #end

</section>
