<?xml version="1.0" encoding="UTF-8"?>
<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

 Copyright (c) 2010-2014 ForgeRock AS. All Rights Reserved

 The contents of this file are subject to the terms
 of the Common Development and Distribution License
 (the License). You may not use this file except in
 compliance with the License.

 You can obtain a copy of the License at
 http://forgerock.org/license/CDDLv1.0.html
 See the License for the specific language governing
 permission and limitations under the License.

 When distributing Covered Code, include this CDDL
 Header Notice in each file and include the License file<
 at http://forgerock.org/license/CDDLv1.0.html
 If applicable, add the following below the CDDL Header,
 with the fields enclosed by brackets [] replaced by
 your own identifying information:
 " Portions Copyrighted [year] [name of copyright owner]"
-->
<configuration>

    <appender name="SERVER-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ConnectorServer.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ConnectorServer-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date{"MMM dd, yyyy h:mm:ss a"} %-5level %logger{35}: %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="TRACE-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ConnectorServerTrace.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ConnectorServerTrace-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date{"MMM dd, yyyy h:mm:ss a"} %-5level %logger{35}: %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="CONNECTOR-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/Connector.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/Connector-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <!--rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/Connector.%i.log</fileNamePattern>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy-->
        <encoder>
            <pattern>%date{"MMM dd, yyyy h:mm:ss a"} %-5level %logger{35}: %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date{"MMM dd, yyyy h:mm:ss a"} %-5level %logger{35}: %msg %n</Pattern>
        </layout>
    </appender>

    <!-- additivity=false ensures connectors data only goes to the connector log -->
    <logger name="org.forgerock.openicf.misc" level="INFO" additivity="false">
        <appender-ref ref="CONNECTOR-FILE"/>
    </logger>
    <logger name="org.forgerock.openicf.connectors" level="INFO" additivity="false">
        <appender-ref ref="CONNECTOR-FILE"/>
    </logger>
    <!-- Legacy connectors -->
    <logger name="org.identityconnectors" level="INFO" additivity="false">
        <appender-ref ref="CONNECTOR-FILE"/>
    </logger>
    
    <logger name="org.forgerock.openicf.framework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER-FILE"/>
    </logger>
    <!-- To enable TraceProxy uncomment this - ->
    <logger name="org.identityconnectors.framework.impl.api.LoggingProxy" level="DEBUG" additivity="false">
        <appender-ref ref="TRACE-FILE"/>
    </logger>
    <logger name="org.identityconnectors.framework.api.operations" level="DEBUG" additivity="false">
        <appender-ref ref="TRACE-FILE"/>
    </logger-->
    <logger name="org.forgerock.openicf.common" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER-FILE"/>
    </logger>
    <logger name="org.forgerock.openicf.contract" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER-FILE"/>
    </logger>
    <logger name="org.forgerock.openicf.test" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER-FILE"/>
    </logger>
    <logger name="org.identityconnectors.common" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER-FILE"/>
    </logger>
    <logger name="org.identityconnectors.framework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER-FILE"/>
    </logger>
    <logger name="org.identityconnectors.contract" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER-FILE"/>
    </logger>
    <logger name="org.identityconnectors.test" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER-FILE"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>